$header-footer-background: #323232;
$mobile-width: 20rem;
$white-text: #FFFFFF;

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Linotype';
    src: url('../../Assets/Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf');
}
body {
    margin: 0;
    width: $mobile-width;
    font-family: 'Linotype';
}

.main-background{
    background: url(../../Assets/Images/cover-image.jpg) left 10% bottom 42%/cover no-repeat border-box;
    height: 30rem;
}

.header {
    background-color: $header-footer-background;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    color: $white-text;
}

.header__logo{
    padding-bottom: 1rem;
}

.main-background__heading{
    margin-top: 0;
    font-size: 24px;
    line-height: 2rem;
    padding: 50% 0 50% 1rem;
    color: $white-text;
    width: 65%;
}

.nav {
    height: 3.5rem;
}


.nav__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-right: 4rem;
    color: #E1E1E1;
}



.active {
    font-weight: bold;
    color: $white-text;
    border-bottom: thick solid;
    padding-bottom: 1rem;
}

.footer {
    background-color: $header-footer-background;
    color: $white-text;
}