$header-footer-background: #323232;
$mobile-width: 20rem;
$white-text: #FFFFFF;
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: $mobile-width;
}

.main-background{
    background: url(../../Assets/Images/cover-image.jpg) left 10% bottom 42%/cover no-repeat border-box;
    height: 50rem;
}

.header {
    background-color: $header-footer-background;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    color: $white-text;
}

.main-background__heading{
    margin-top: 0;
}

.nav__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-right: 4rem;
}

.footer {
    background-color: $header-footer-background;
    color: $white-text;
}