$header-footer-background: #323232;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

$white-text: #FFFFFF;

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Linotype';
    src: url('../../Assets/Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf');
}

@font-face {
    font-family: 'Linotype-Bold';
    src: url('../../Assets/Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf');
}

@font-face {
    font-family: 'Demi';
    src: url('../../Assets/Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf');
}

body {
    margin: 0;
    font-family: 'Linotype';
}

h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-family: 'Linotype-Bold';
}

h2 {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: 'Demi';
}

h4 {
    font-size: 0.8125rem;
    line-height: 1.125rem;
}

p{
    font-size: 0.8125rem;
    line-height: 1.125rem;
}

.header__logo--link{
    text-decoration: none;
}

.main-background{
    background: url(../../Assets/Images/hero-image.jpg) left 10% bottom 42%/cover no-repeat border-box;
    height: 15rem;
    display: flex;
    align-items: center;
}


.header {
    background-color: $header-footer-background;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    color: $white-text;
    align-items: center;
}

.header__logo{
    padding-bottom: 1rem;
}

.main-background__heading{
    margin-top: 0;
    color: $white-text;
    width: 70%;
    padding-left: 1.5rem;
}


.about__image {
    width: 90%;
}

.nav {
    height: 3.5rem;
    width: 100%;
}

.about__quote, .about-musicians__names {
    font-size: 1.5rem;
    font-family: 'Demi';
}

.about__quote--author {
    display: block;
    padding-top: 1rem;
    font-size: 1.2rem;
}


.nav__list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-right: 4rem;
    color: #E1E1E1;
}

// for aligning bottom border properly
.nav__item{
    padding-left: 25%;
    padding-right: 25%;    
}

.about, .photo-gallery{
    margin-left: 1rem;
}

.about__description {
    display: flex;
    flex-direction: column;
}

.photo-gallery {
    background-color: #FAFAFA;
    padding-top: 0.5rem;
}
.photo-gallery__image{
    width: 90%;
    margin-bottom: 1rem;
}

.active {
    font-weight: bold;
    color: $white-text;
    border-bottom: thick solid;
    padding-bottom: 1rem;
}

.footer {
    background-color: $header-footer-background;
    color: $white-text;
    padding-left: 1rem;
}

.footer__title {
    padding-top: 4rem;
    font-size: 3rem;
}

.footer__icons {
    padding-bottom: 1.5rem;
}

.footer__icon {
    margin-right: 2rem;
}

.footer__bandsite--logo{
    display: none;
}

.footer__contact--name{
    font-size: 1rem;
}

.footer--copyright{
    padding-bottom: 1rem;
    // width: 30%;
    margin-bottom: 0;
}

.footer-rights{
    display: block;
}


@media screen and (min-width: $tablet-width) {

    h1 {
        font-size: 2.25rem;
        line-height: 2.75rem;
        font-family: 'Linotype-Bold';
    }
    
    h2 {
        font-size: 1.5rem;
        font-family: 'Demi';
    }
    
    h4 {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
    
    p{
        font-size: 0.875rem;
        line-height: 1.375rem;
    }

    .main-background {
        height: 25rem;
    }

    .header {
        flex-direction: row;
    }

    .header__logo {
        margin-left: 1rem;
    }

    .nav {
        width: inherit;
    }

    .nav__item {
        margin-left: 1rem;
        margin-right: 2rem;
        
        //required to control space between nav items and reduce bottom border in tab mode 
        padding-left: 0;
        padding-right: 0;
    }

    .main-background__heading {
        font-size: 3.75rem;
        line-height: 4.25rem;
        width: 70%;
    }

    .about__quote, .about-musicians__names {
        font-size: 1.8rem;
        width: 85%;
    }

    .about__description{
        flex-direction: row;
    }

    .about__description--para2{
        margin-left: 1rem;
    }

    .photo-gallery__image{
        width: 30%;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }

    .footer__bandsite--logo {
        display: block;
    }

    .footer--block1{
        display: flex;
        justify-content: space-between;
        width: 95%;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .footer__title {
        padding-top: 0;
    }
    

    .footer--info-block{
        display: flex;
        justify-content: space-between;
        width: 95%;
    }


    .footer__icon {
        padding-right: 1rem;
        padding-top: 3rem;
    }

    .footer--copyright{
        width: 100%;
    }

    .footer-rights{
        display: inline;
    }
    
}

@media screen and (min-width: $desktop-width) {

    // required so that nav items dont take entire space
    .nav {
        width: inherit;
    }

    .about__div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header__logo {
        margin-left: 10rem;
    }

    .main-background {
        height: 41.875rem;
    }
    .main-background__heading{
        margin-left: 8.5rem;
    }

    .about, .photo-gallery{
        padding-left: 10rem;
    }

    .about__image {
        width: 85%;
    }

    .about__description{
        width: 85%;
    }

    .footer__title, .footer--copyright{
        margin-left: 8rem;
    }

    .footer--block1 {
        width: 90%;
    }

    .footer--info-block{
        width: 60%;
        margin-left: 8rem;
    }

    .footer__icons {
        margin-right: 30rem;
    }
}


