* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Linotype';
  src: url("../../Assets/Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: 'Linotype-Bold';
  src: url("../../Assets/Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: 'Demi';
  src: url("../../Assets/Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf");
}

body {
  margin: 0;
  font-family: 'Linotype';
}

h1 {
  font-size: 2rem;
  line-height: 2rem;
  font-family: 'Linotype-Bold';
}

h2 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: 'Demi';
}

h4 {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

.main-background {
  background: url(../../Assets/Images/hero-image.jpg) left 10% bottom 42%/cover no-repeat border-box;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  background-color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
  color: #FFFFFF;
}

.header__logo {
  padding-bottom: 1rem;
}

.main-background__heading {
  margin-top: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #FFFFFF;
  width: 15rem;
  padding-left: 1.5rem;
}

.about__image {
  width: 90%;
}

.nav {
  height: 3.5rem;
}

.about__quote, .about-musicians__names {
  font-size: 1.5rem;
  font-family: 'Demi';
}

.about__quote--author {
  display: block;
  padding-top: 1rem;
  font-size: 1.2rem;
}

.nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 4rem;
  color: #E1E1E1;
}

.nav__item {
  padding-left: 25%;
  padding-right: 25%;
}

.about, .photo-gallery {
  margin-left: 1rem;
}

.about__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.photo-gallery__image {
  width: 90%;
  margin-bottom: 1rem;
}

.active {
  font-weight: bold;
  color: #FFFFFF;
  border-bottom: thick solid;
  padding-bottom: 1rem;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding-left: 1rem;
}

.footer__title {
  padding-top: 4rem;
  font-size: 3rem;
}

.footer__icons {
  padding-bottom: 1.5rem;
}

.footer__icon {
  margin-right: 2rem;
}

.footer__bandsite--logo {
  display: none;
}

.footer__contact--name {
  font-size: 1rem;
}

.footer--copyright {
  padding-bottom: 1rem;
  width: 55%;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .main-background {
    height: 25rem;
  }
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__logo {
    margin-left: 1rem;
  }
  .nav__item {
    margin-left: 1rem;
    margin-right: 2rem;
  }
  .about__description {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about__description--para2 {
    margin-left: 1rem;
  }
  .photo-gallery__image {
    width: 30%;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  .footer__bandsite--logo {
    display: block;
  }
  .footer--block1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 95%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .footer--info-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 95%;
  }
  .footer__icon {
    padding-right: 1rem;
    padding-top: 1rem;
  }
  .footer--copyright {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-left: 10rem;
  }
  .main-background {
    height: 41.875rem;
  }
  .main-background__heading {
    margin-left: 8.5rem;
  }
  .about, .photo-gallery {
    margin-left: 10rem;
  }
  .about__description {
    width: 80%;
  }
  .footer__title, .footer--copyright {
    margin-left: 8rem;
  }
  .footer--block1 {
    width: 90%;
  }
  .footer--info-block {
    width: 60%;
    margin-left: 8rem;
  }
  .footer__icons {
    margin-right: 30rem;
  }
}
/*# sourceMappingURL=styles.css.map */