$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
$white-text: #FFFFFF;

//shows page
$white-color: white;
$show-heading-label-color: #AFAFAF;
$shows-button-background-color: #323232;