@import 'variables';

.shows-background{
    background: linear-gradient(rgba(0,0,0,0.50)), url(../Assets/Images/shows-cover.jpg) left 10% bottom 42%/cover no-repeat border-box;
    height: 42rem;
    color: $white-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;

    &__heading--h1 {
        margin-top: 0;
        width: 80%;
        font-size: 2.8125rem;
        line-height: normal;
    }

    &__heading--h2 {
        padding-top: 4rem;
        font-size: 1.5rem;
    }
    //try using @content for specifying media queries
    @media screen and (min-width: $tablet-width) {
        height: 39rem;
        padding-left: 2rem;
        &__heading--h1 {
            width: 60%;
            font-size: 3rem;
        }

        &__heading--h2 {
            padding-top: 6rem;
        }

        &__music {
            width: 50%;
        }
    }

    @media screen and (min-width: $desktop-width) {
        flex-direction: row;
        align-items: center;
        
        &__headings{
            padding-left: 8rem;
        }

        &__heading--h1{
            width: 30rem;
        }

        &__music {
            width: 30rem;
            margin-top: 6.5rem;
            margin-left: 5rem;
        }
    }
}

.shows {

    padding-left: 1rem;
    padding-right: 1rem;
    
    &__title {
        font-size: 1.5625rem;
        font-family: 'Linotype-Bold';
    }

    &__list{
        display: flex;
        flex-direction: column;

        &--headings{
            display: none;
        }
    }

    @media screen and (min-width: $tablet-width) {
        padding: 2rem 2rem 0 2rem;

        &__title {
            font-size: 2rem;
        }

        &__list {

            &--headings {
                display: flex;
                justify-content: space-between;
                width: 60%;
            }
        }

    }

    @media screen and (min-width: $desktop-width) {

        display: flex;
        justify-content: space-around;

        &__list {
            width: 60%;
        }
    }


}

.show {

    &__date {
        &--heading{
            color: $show-heading-label-color;
        }
    }
    &__venue {
        &--heading{
            color: $show-heading-label-color;
        }
        &--value{
            font-weight: normal;
        }
    }
    &__location {
        &--heading{
            color: $show-heading-label-color;
        }
        &--value{
            font-weight: normal;
        }
    }
    &__button {
        margin-bottom: 1rem;
        background-color: $shows-button-background-color;
        color: $white-color;
        text-transform: uppercase;
        width: 95%;
        height: 3rem;
        border-radius: 5px;
        border-style: none;
    }

    &__border {
       border-bottom: 2px solid lightgray;
       margin-bottom: 1rem; 
    }

    @media screen and (min-width: $tablet-width) {
        
        display: flex;
        justify-content: space-between;

        &__heading--visibility {
            display: none;
        }

        &__button {
            width: 20%;
        }

        &__date , &__venue, &__location{
            width: 25%;
        }
    }

}
