@font-face {
  font-family: 'Linotype';
  src: url("../Assets/Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: 'Linotype-Bold';
  src: url("../Assets/Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: 'Demi';
  src: url("../Assets/Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Linotype';
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-family: "Linotype-bold";
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: "Linotype-Bold";
  }
}

h2 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "Demi";
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 1.5rem;
    font-family: 'Demi';
  }
}

h4, p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: inherit;
}

@media screen and (min-width: 768px) {
  h4, p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: inherit;
  }
}

.main-background {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url(../Assets/Images/hero-image.jpg) left 10% bottom 42%/cover no-repeat border-box;
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url(../Assets/Images/hero-image.jpg) left 10% bottom 42%/cover no-repeat border-box;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-background__heading {
  margin-top: 0;
  color: #FFFFFF;
  width: 70%;
  padding-left: 1.5rem;
}

@media screen and (min-width: 768px) {
  .main-background__heading {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-family: "Linotype-Bold";
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .main-background__heading {
    margin-left: 8.5rem;
    width: 40%;
  }
}

@media screen and (min-width: 768px) {
  .main-background {
    height: 25rem;
  }
}

@media screen and (min-width: 1200px) {
  .main-background {
    height: 41.875rem;
  }
}

.header {
  background-color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-left: 10rem;
  }
}

.header__logo:hover {
  cursor: pointer;
  border-bottom: thick solid white;
  padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.nav {
  height: 3.5rem;
  width: 100%;
}

.nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-right: 4rem;
  color: #E1E1E1;
}

.nav__item {
  padding-left: 25%;
  padding-right: 25%;
}

.nav__item--link {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 768px) {
  .nav__item {
    margin-left: 1rem;
    margin-right: 2rem;
    padding-left: 0;
    padding-right: 0;
  }
}

.nav__item:hover {
  cursor: pointer;
  padding-bottom: 1rem;
  color: lightgreen;
}

@media screen and (min-width: 768px) {
  .nav {
    width: inherit;
  }
}

.about {
  margin-left: 1rem;
}

.about__image {
  width: 95%;
}

@media screen and (min-width: 1200px) {
  .about__image {
    width: 75%;
  }
}

.about__quote, .about-musicians__names {
  font-size: 1.5rem;
  line-height: inherit;
  font-family: "Demi";
}

@media screen and (min-width: 768px) {
  .about__quote, .about-musicians__names {
    font-size: 1.8rem;
    width: 85%;
  }
}

@media screen and (min-width: 768px) {
  .about__quote, .about-musicians__names {
    width: 75%;
  }
}

.about__quote--author {
  display: block;
  padding-top: 1rem;
  font-size: 1.2rem;
}

.about__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .about__description {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about__description--para2 {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .about__description {
    width: 75%;
  }
}

@media screen and (min-width: 1200px) {
  .about__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__title {
    margin-left: 8.5rem;
  }
}

.photo-gallery {
  background-color: #FAFAFA;
  padding-top: 0.5rem;
}

.photo-gallery__title {
  margin-left: 1rem;
}

@media screen and (min-width: 1200px) {
  .photo-gallery__title {
    margin-left: 10rem;
  }
}

.photo-gallery__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .photo-gallery__images {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.photo-gallery__image {
  width: 90%;
  margin-bottom: 1rem;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

@media screen and (min-width: 768px) {
  .photo-gallery__image {
    width: 30%;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .photo-gallery__image {
    width: 25%;
  }
}

.photo-gallery__image:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  cursor: pointer;
}

.active {
  font-weight: bold;
  color: #FFFFFF;
  border-bottom: thick solid;
  padding-bottom: 1rem;
}

.form__field--label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #AFAFAF;
}

.form__field--name {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  width: 100%;
}

.form__field--name:focus {
  border: 2px solid black;
}

.form__field--comment {
  outline: none;
  border-radius: 5px;
  width: 100%;
  resize: none;
}

.form__field--comment:focus {
  border: 2px solid black;
}

.form__div {
  margin-bottom: 1.5rem;
}

.form__submit-button {
  background-color: #323232;
  color: white;
  text-transform: uppercase;
  height: 3rem;
  width: 100%;
  border-radius: 5px;
  border-style: none;
}

@media screen and (min-width: 768px) {
  .form__submit-button {
    width: 10rem;
    float: right;
  }
}

@media screen and (min-width: 768px) {
  .form {
    width: 100%;
  }
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.8rem;
}

.comments__subdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comments__displayed {
  margin-left: 2rem;
  margin-right: 2rem;
  border-top: 2px solid lightgray;
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {
  .comments__section {
    width: 80%;
  }
  .comments__displayed {
    margin-left: 0;
    margin-right: 0;
    width: 80%;
  }
  .comments__subdiv {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .comments__title {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .comments__section {
    width: 50%;
  }
  .comments__displayed {
    width: 50%;
  }
  .comments__title {
    margin-left: 10rem;
  }
}

.author-image {
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.comment-author__image {
  border-radius: 3rem;
  width: 3rem;
  height: 3rem;
  background: #E1E1E1;
}

.comment-author__name {
  position: absolute;
  left: 6rem;
}

@media screen and (min-width: 768px) {
  .comment-author__name {
    position: static;
    margin-right: 1rem;
  }
  .comment-author__image {
    margin-right: 1rem;
  }
}

.comment-text {
  margin-left: 4rem;
  margin-top: 0;
}

.comment-date {
  color: #AFAFAF;
  font-weight: normal;
}

.comment-border {
  border-bottom: 2px solid lightgray;
  margin-bottom: 1rem;
}

.comment-delete-button {
  height: 2rem;
  background-color: red;
  color: white;
  cursor: pointer;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding-left: 1rem;
}

.footer__title {
  padding-top: 4rem;
  font-size: 3rem;
}

.footer__icons {
  padding-bottom: 1.5rem;
}

.footer__icon {
  margin-right: 2rem;
}

.footer__bandsite--logo {
  display: none;
}

.footer__contact--name {
  font-size: 1rem;
}

.footer__email--link {
  text-decoration: none;
  color: inherit;
}

.footer__email--link:hover {
  color: blue;
}

.footer--copyright {
  padding-bottom: 1rem;
  margin-bottom: 0;
}

.footer-rights {
  display: block;
}

@media screen and (min-width: 768px) {
  .footer__bandsite--logo {
    display: block;
  }
  .footer--block1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 95%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .footer__title {
    padding-top: 0;
  }
  .footer--info-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 95%;
  }
  .footer__icon {
    padding-right: 1rem;
    padding-top: 3rem;
  }
  .footer-rights {
    display: inline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__title, .footer--copyright {
    margin-left: 8rem;
  }
  .footer--block1 {
    width: 90%;
  }
  .footer--info-block {
    width: 60%;
    margin-left: 8rem;
  }
  .footer__icons {
    margin-right: 30rem;
  }
}
/*# sourceMappingURL=styles.css.map */